*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# AWS SAM
.aws-sam

# vendor libs
libs/*/python

# editors
.idea

# coverage folder
coverage
